@keyframes openItems {
    0%
    {
        visibility: visible;
        width: 0;
        min-height: 0;
    }
    20%
    {
        visibility: visible;
        width: 2%;
        min-height: 0;
    }
    60%{
        visibility: visible;
        width: 2%;
        min-height: 40%;
    }
    100%{
        visibility: visible;
        width: 90%;
        min-height: 40%;
    }
}
@keyframes closeItems {
    0%{
        visibility: visible;
        width: 90%;
        height: 40%;
    }
    20%{
        visibility: visible;
        width: 2%;
        height: 40%;
    }
    60%
    {
        visibility: visible;
        width: 2%;
        height: 0;
    }
    100%
    {
        visibility: visible;
        width: 0;
        height: 0;
    }
}

h1{
    margin-left: 1em;
}
.previous
{
    filter: invert(1);
    position: absolute;
    left: 80%;
    top: 10%;
    transform:  rotate(180deg);
    z-index: 1;
}
.container 
{
    background: #b7b7b77c;
    min-height: 80%;
    padding: 2em;
    background-image: url(./images/shop/cabine.avif);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.container > img
{
    position: absolute;
}

.options
{
    width: 80%;
    position: absolute;
    top: 30%;
    display: flex;
    justify-content: space-around;
    left: 50%;
    transform: translateX(-50%);
}

.options button
{
    padding: .5em 2em;
    background-color: #811B34;
    border-radius: 4px;
    font-family: var(--main-font);
    color: var(--light);
    border: none;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 0 5px 25px #1e1d1d, 0px 0px 0px 7px rgb(213, 181, 0) inset;
    position: relative;
}
.options button.selected{
    box-shadow: 0 5px 25px rgb(176, 149, 0), 0px 0px 0px 7px rgb(213, 181, 0) inset;
}
.options button::before
{
    content: "";
    display: block;
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    box-shadow: rgb(241, 242, 243) 2px 2px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.chestleft
{
    max-height: 40%;
    max-width: 40%;
    left: -25px;
    z-index: 2;
    bottom: -10px;
    filter: saturate(80%) drop-shadow(-5px 5px 10px black);
}
.merch
{
    height: 50%;
    left: 53%;
    transform: translateX(-50%);
    bottom: 20px;
    /* filter: drop-shadow(-5px 10px 25px black); */
}
.chestright
{
    height: 30%;
    right: -25px;
    bottom: -30px;
    transform: rotateY(180deg);
    filter: saturate(150%) drop-shadow(-5px 5px 10px black);
}
.welcome
{
    position: absolute;
    padding: 1em;
    background-color: #ffffffed;
    left: 60%;
    top: 50%;
    border-radius: 12px 12px 12px 0;
    box-shadow: 0 2px 10px grey;
}

.items
{
    position: absolute;
    visibility: hidden;
    left: 50%;
    top: 55%;
    transform: translateX(-50%);
    background-color: #5b0a2ce8;
    z-index: 10;
    border-radius: 12px;
    padding: 2em .5em;
}
.itemslist
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    color: white;
    position: relative;
}
.itemsRemaining {
    position: absolute;
    bottom: 101%;
    left: 10px;
}
.items.open
{
    animation-name: openItems;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.items.close
{
    animation-name: closeItems;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.divItem
{
    display: flex;
    flex-direction: column;
    margin-right: .5em;
    margin-bottom: .5em;
    align-items: center;
}
.divItem span 
{
    text-align: center;
}

.divItem .itemIllus
{
    width: 3em;
    height: auto;
}
.divItem.bought{
    opacity: .6;
    pointer-events: none;
}
.divItem .buyButton
{
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
}
.buyButton img
{
    width: 2em;
    height: auto;
}
.swal2-html-container img
{
    display: block;
    width: 40%;
    margin: auto;
}

.swal2-html-container p{
    margin-top: 1em;
    margin-bottom: 0;
}